# dependencies
/node_modules

# testing
/coverage
/tests
jest.config.js

# source
/src
/react-native

# configs
babel.config.js


# idea
.idea

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
publish-hooks.sh

npm-debug.log*
yarn-debug.log*
yarn-error.log*
